<h1>Employess </h1>
<h2>
  <%= link_to "Home", root_path %>
</h2>
<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.id %></td>
    <td><%= employee.name %></td>
    <td><%= employee.surname %></td>
    <td><%= employee.date_birthday %></td>
    <td><%= employee.city_birthday %></td>
    <td><%= employee.address %></td>
    <td><%= employee.department.name %></td>
    <td><%= employee.start_work %></td>
    <td><%= employee.position.name %></td>
    <td><%= employee.email %></td>
    <td><%= employee.confirmed_at %></td>
    <td>
      <%= avatar_tag(employee.avatar.url, alt: 'Avatar') if employee.avatar? %>
    </td>
    <td><%= link_to I18n.t('links.show'), employee_path(employee) %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' }%></td>
  </tr>
  <hr>
<% end %>
