<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>
<p>
  <strong>Surame:</strong>
  <%= @employee.surname %>
</p>
<p>
  <strong>Date birthday:</strong>
  <%= @employee.date_birthday %>
</p>
<p>
  <strong>City birthday:</strong>
  <%= @employee.city_birthday %>
</p>
<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>
<p>
  <strong>Department1:</strong>
  <%= @employee.department.name %>
</p>
<p>
  <strong>Start work:</strong>
  <%= @employee.start_work %>
</p>
<p>
  <strong>Position:</strong>
  <%= @employee.position.name %>
</p>
<tr>
  <td><%= link_to 'Edit', edit_employee_path%></td>
  <td><%= link_to 'Destroy', employee_path, method: :delete, data: { confirm: 'Are you sure?' }%>
</tr>
<%= link_to "View all employees", employees_path%>