<h1>Add new vacation </h1>
<h2>
  <%= link_to "Home", root_path %>
</h2>
<% @vacations.each do |vacation| %>
  <tr>
    <td><%= vacation.id %></td>
    <td><%= vacation.employee %></td>
    <td><%= vacation.date_start %></td>
    <td><%= vacation.date_end %></td>
    <td><%= link_to 'Show', vacation_path(vacation) %></td>
    <td><%= link_to 'Edit', edit_vacation_path(vacation) %></td>
    <td><%= link_to 'Destroy', vacation_path(vacation), method: :delete, data: { confirm: 'Are you sure?' }%></td>
  </tr>
  <hr>
<% end %>
