<p>
  <strong>Employee:</strong>
  <%= @vacation.employee %>
</p>
<p>
  <strong>Date start:</strong>
  <%= @vacation.date_start %>
</p>
<p>
  <strong>Date end:</strong>
  <%= @vacation.date_end %>
</p>
<tr>
  <td><%= link_to 'Edit', edit_employees_path%></td>
  <td><%= link_to 'Destroy', employee_path, method: :delete, data: { confirm: 'Are you sure?' }%>
</tr>
<%= link_to "View all departments", departments_path%>