<%= form_with scope: :history, url: history_index_path, local: true do |form| %>
  <p>
    <%= form.label :employee %><br>
    <%= form.collection_select(:employee_id, Employee.all, :id, :name, :prompt => 'Select') %>
  </p>
  <p>
    <%= form.label :date_start %><br>
    <%= form.text_field :date_start %>
  </p>
  <p>
    <%= form.label :date_end %><br>
    <%= form.text_field :date_end %>
  </p>  <p>
  <%= form.label :position %><br>
  <%= form.collection_select(:employee_id, Position.all, :id, :name, :prompt => 'Select') %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
