<%= form_with scope: :department, url: departments_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%= @department.errors[:name] %>
  </p>
  <p>
    <%= form.label :abbreviation %><br>
    <%= form.text_field :abbreviation %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

