<h1>Human Resouces</h1>
<h2>List:</h2>
<div>
  <ul>
    <li>
      <%= link_to "Sign up", new_employee_registration_path%>
    </li>
    <hr/>
    <li>
      <%= link_to "Add department", new_department_path%>
    </li>
    <li>
      <%= link_to "Show departments", departments_path %>
    </li>
    <li>
      <%= link_to "Add position", new_position_path %>
    </li>
    <li>
      <%= link_to "Show positions", positions_path %>
    </li>
    <li>
      <%= link_to "Add employee", new_employee_path%>
    </li>
    <li>
      <%= link_to "Show employees", employees_path %>
    </li>
    <li>
      <%= link_to "Add vacation", new_vacation_path %>
    </li>
    <li>
      <%= link_to "Show vacations", vacations_path %>
    </li>
    <li>
      <%= link_to "Add history", new_history_path %>
    </li>
    <li>
      <%= link_to "Show history", history_index_path %>
    </li>
  </ul>
</div>
